<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <img src="../../../../assets/Images/logo_sin_fondo_blanco.png" alt="" style="width: 200px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <a href="https://maps.app.goo.gl/bo8Wp4LgjLJTVwjH7" target="_blank" class="no-underline">
                <mat-card class="mat-card-contents" appearance="outlined">
                  <mat-card-header class="mat-card-headers-contents">
                      <div mat-card-avatar class="container-icons-avatar"><mat-icon fontIcon="location_on"></mat-icon></div>
                      <mat-card-title class="mat-card-title">Chasquipampa </mat-card-title>
                      <mat-card-subtitle class="mat-card-subtitle mat-card-subtitle-hover">Av. Defensores del chaco (principal) Entre calle 42 y 43</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </a>
                <mat-card class="mat-card-contents" appearance="outlined">
                    <mat-card-header class="mat-card-headers-contents">
                        <div mat-card-avatar class="container-icons-avatar"><mat-icon fontIcon="phone"></mat-icon></div>
                        <mat-card-title class="mat-card-title">76768027</mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle">Llamenos para consultas gratuitas</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <!-- <mat-card class="mat-card-contents" appearance="outlined">
                    <mat-card-header class="mat-card-headers-contents">
                        <div mat-card-avatar class="container-icons-avatar"><mat-icon fontIcon="email"></mat-icon></div>
                        <mat-card-title class="mat-card-title">CORREO</mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle">adriflores987&#64;gmail.com</mat-card-subtitle>
                    </mat-card-header>
                </mat-card> -->
                <a href="https://w.app/wUS6KE" target="_blank" class="no-underline">
                  <mat-card class="mat-card-contents" appearance="outlined">
                    <mat-card-header class="mat-card-headers-contents">
                        <div mat-card-avatar class="container-icons-avatar">
                          <fa-icon [icon]="faWhatsapp" class="custom-icon-size"></fa-icon>
                        </div>
                        <mat-card-title class="mat-card-title">WHATSAPP</mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle mat-card-subtitle-hover">(+591) 76768027</mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </a>
            </div>
            <div class="col-md-4">
                <mat-card class="mat-card-contents" appearance="outlined" style="text-align: center;">
                    <mat-card-title class="mat-card-title">HORARIOS DE ATENCIÒN</mat-card-title>
                    <mat-card-content>
                        <mat-card-subtitle class="mat-card-subtitle"><p>Lunes a Viernes <br> 09:30 a 13:00 / 15:00 a 20:00 <br> Sábado a Domingo <br> 10:00 a 19:00 </p></mat-card-subtitle>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="mat-card-contents" appearance="outlined" style="text-align: center;">
                    <mat-card-title class="mat-card-title">BARBER SHOP URBANO</mat-card-title>
                    <mat-card-content>
                        <mat-card-subtitle class="mat-card-subtitle">Contactos</mat-card-subtitle>
                        <mat-card-subtitle class="mat-card-subtitle">Realizar una reserva</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-footer class="mat-card-footer">
                      <a href="https://www.facebook.com/profile.php?id=100089813687909&mibextid=LQQJ4d" target="_blank" class="no-underline">
                        <div mat-card-avatar class="container-icons-avatar mat-card-avatar-facebbok-hover" style="margin: 10px;"><fa-icon [icon]="faFacebook" class="custom-icon-size"></fa-icon></div>
                      </a>
                      <a href="https://w.app/wUS6KE" target="_blank" class="no-underline">
                        <div mat-card-avatar class="container-icons-avatar mat-card-avatar-whatsapp-hover" style="margin: 10px;"><fa-icon [icon]="faWhatsapp" class="custom-icon-size"></fa-icon></div>
                      </a>
                      <a href="https://www.instagram.com/linaje_urbano_barberia?igsh=MTU0MWJxY2h5aTA1OA==" target="_blank" class="no-underline">
                        <div mat-card-avatar class="container-icons-avatar mat-card-avatar-instagram-hover" style="margin: 10px;"><fa-icon [icon]="faInstagram" class="custom-icon-size"></fa-icon></div>
                      </a>
                      <a href="https://www.tiktok.com/@linaje_urbano?_t=8oqruTyQXmH&_r=1" target="_blank" class="no-underline">
                        <div mat-card-avatar class="container-icons-avatar mat-card-avatar-tiktok-hover" style="margin: 10px;"><fa-icon [icon]="faTiktok" class="custom-icon-size"></fa-icon></div>
                      </a>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
        <div class="row" style="margin: 0; text-align: center; font-weight: 500; font-size: 11px;"><p>©{{currentYear}} Desarrollado por Damian Tegnology</p></div>
    </div>
</footer>
