<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <img src="../../../../assets/Images/logo_sin_fondo_blanco.png" alt="" style="width: 200px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-card class="mat-card-contents" appearance="outlined">
                    <mat-card-header class="mat-card-headers-contents">
                        <div mat-card-avatar class="container-icons-avatar"><mat-icon fontIcon="location_on"></mat-icon></div>
                        <mat-card-title class="mat-card-title">Calle Gregorio Reynolds #1234</mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle">Entre Av. 6 de Agosto y Av. 20 de Octubre Zona Sopocachi</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card class="mat-card-contents" appearance="outlined">
                    <mat-card-header class="mat-card-headers-contents">
                        <div mat-card-avatar class="container-icons-avatar"><mat-icon fontIcon="phone"></mat-icon></div>
                        <mat-card-title class="mat-card-title">2 2154678 / 75806163</mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle">Llamenos para consultas gratuitas</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card class="mat-card-contents" appearance="outlined">
                    <mat-card-header class="mat-card-headers-contents">
                        <div mat-card-avatar class="container-icons-avatar"><mat-icon fontIcon="email"></mat-icon></div>
                        <mat-card-title class="mat-card-title">CORREO</mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle">adriflores987&#64;gmail.com</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                <mat-card class="mat-card-contents" appearance="outlined">
                    <mat-card-header class="mat-card-headers-contents">
                        <div mat-card-avatar class="container-icons-avatar"><mat-icon fontIcon="whatsapp"></mat-icon></div>
                        <mat-card-title class="mat-card-title">WHATSAPP</mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle">(+591) 75806163</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="mat-card-contents" appearance="outlined" style="text-align: center;">
                    <mat-card-title class="mat-card-title">HORARIOS DE ATENCIÒN</mat-card-title>
                    <mat-card-content>
                        <mat-card-subtitle class="mat-card-subtitle"><p>Lunes a Viernes <br> 09:00 - 17:30 <br> Sábados <br> 8:00 - 12:30</p></mat-card-subtitle>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="mat-card-contents" appearance="outlined" style="text-align: center;">
                    <mat-card-title class="mat-card-title">BARBER SHOP URBANO</mat-card-title>
                    <mat-card-content>
                        <mat-card-subtitle class="mat-card-subtitle">Contactos</mat-card-subtitle>
                        <mat-card-subtitle class="mat-card-subtitle">Realizar una reserva</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-footer class="mat-card-footer">
                        <div mat-card-avatar class="container-icons-avatar" style="margin: 10px;"><mat-icon fontIcon="whatsapp"></mat-icon></div>
                        <div mat-card-avatar class="container-icons-avatar" style="margin: 10px;"><mat-icon fontIcon="whatsapp"></mat-icon></div>
                        <div mat-card-avatar class="container-icons-avatar" style="margin: 10px;"><mat-icon fontIcon="whatsapp"></mat-icon></div>
                        <div mat-card-avatar class="container-icons-avatar" style="margin: 10px;"><mat-icon fontIcon="whatsapp"></mat-icon></div>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
        <div class="row" style="margin: 0; text-align: center; font-weight: 500; font-size: 12px;"><p>©2024 Desarrollado por Damian Tegnology</p></div>
    </div>
</footer>