<!-- <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
</mat-grid-list> -->
<!-- <div class="row">
    <div class="col-md-4">
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-card-header>
                <mat-grid-tile>TITULO</mat-grid-tile>
            </mat-card-header>
            <mat-card-content>CONTENIDO</mat-card-content>
            <mat-card-footer>PIE DEL CARD</mat-card-footer>
        </mat-grid-list>
    </div>
    <div class="col-md-4">
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>2</mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="col-md-4">
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>3</mat-grid-tile>
        </mat-grid-list>
    </div>
</div> -->