.section-main-bookings{
    margin-top: 80px;
    margin-bottom: 80px;
}

.example-header-image {
  // width: 100px;
  // height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-card{
  padding: 10px !important;
}
.container-card-contend{
  border-radius: 20px;
  box-shadow: 3px 4px 20px 0px #00000059;
}
