.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 80%;
  }
  
  .demo-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  .css-sd8kw4 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(46, 125, 50);
  }
  .css-Search {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(8, 42, 193);
  }
  .css-vubbuv {
    user-select: none;
    width: 2em;
    height: 2em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
  }
  .css-filter {
    user-select: none;
    width: 2em;
    height: 2em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
  }
  .css-1qexis2.MuiTableCell-head {
    background-color: rgb(3, 76, 140);
    color: rgb(255, 255, 255);
    white-space: nowrap;
  }
  table {
    width: 100%;
  }
  
  th.mat-header-cell {
    background-color: #1976d2;
    color: white;
  }
  
  td.mat-cell {
    padding: 8px;
  }
  
mat-icon{
    color: #474747;
    font-size: 30px !important;
    background-color: #c1c1c1;
    border-radius: 50%;
    box-shadow: 2px 2px 6px 2px #0000003d;
    text-align: center;
    align-items: center;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 2;
}