<div class="container">
  <div class="row">
     <div class="col-md-12">
        <div class="justify-content-center">
           <mat-card class="example-card" appearance="outlined" style="max-width: 1200px;">
              <mat-card-header>
                 <mat-card-title-group>
                    <mat-card-title>REGISTER SERVICE</mat-card-title>
                 </mat-card-title-group>
              </mat-card-header>
              <br>
              <mat-card-content>
                 <div style="display: flex; gap: 16px;">
                    <mat-checkbox class="example-margin" (change)="onModelChange($event.checked)">Reservation</mat-checkbox>
                    <mat-form-field class="example-full-width">
                       <mat-label>ID RESERVATION</mat-label>
                       <input matInput placeholder="Ex. RV-0000000000" [disabled]="isReadOnlyReservation" [(ngModel)]="idReservation">
                    </mat-form-field>
                    <button mat-button class="css-sd8kw4" [hidden]="isReadOnlyReservation" (click)="searchReservation()">
                    <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
                    <mat-icon class="css-filter" >search</mat-icon>
                    Search
                    </button>
                 </div>
                 <div style="display: flex; gap: 16px;">
                    <mat-form-field class="example-full-width">
                       <mat-label>Client</mat-label>
                       <input matInput placeholder="Ex. Suarez Sanchez Mario" [(ngModel)]="nameClient.namesClient" [readonly]="true">
                    </mat-form-field>
                    <button class="css-sd8kw4" (click)="openDialog()" [disabled]="!isReadOnlyReservation">
                       <svg class="css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AddCircleOutlineIcon">
                          <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8"></path>
                       </svg>
                       Add Client
                    </button>
                    <button class="css-Search" (click)="openDialogSarchClient()" [disabled]="!isReadOnlyReservation">
                       <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
                       <mat-icon class="css-filter" >search</mat-icon>
                       Search Client
                    </button>
                 </div>
                 <table class="example-full-width" cellspacing="0" style="text-transform: uppercase;">
                    <thead>
                       <tr>
                          <td>
                             <mat-form-field>
                                <mat-label>Type Service</mat-label>
                                <mat-select [(ngModel)]="selectedValue" name="service">
                                <mat-option></mat-option>
                                @for (service of services; track service) {
                                <mat-option [value]="service.id">{{service.descriptionService}}</mat-option>
                                }
                                </mat-select>
                             </mat-form-field>
                          </td>
                          <td>
                             <mat-form-field class="example-full-width">
                                <mat-label>Price</mat-label>
                                <!-- <input matInput placeholder="Ex. 100.00" [(ngModel)]="user.motherLastName"> -->
                                <input matInput placeholder="Ex. 100.00">
                             </mat-form-field>
                          </td>
                          <td>
                             <mat-form-field class="example-full-width">
                                <mat-label>Qty</mat-label>
                                <!-- <input matInput placeholder="Ex. 100.00" [(ngModel)]="user.motherLastName"> -->
                                <input matInput placeholder="Ex. 1">
                             </mat-form-field>
                          </td>
                       </tr>
                       <tr>
                          <td>
                             <mat-form-field class="example-full-width">
                                <mat-label>Discount</mat-label>
                                <!-- <input matInput placeholder="Ex. 100.00" [(ngModel)]="user.motherLastName"> -->
                                <input matInput placeholder="Ex. 10%">
                             </mat-form-field>
                          </td>
                          <td>
                             <mat-form-field class="example-full-width">
                                <mat-label>Cash</mat-label>
                                <!-- <input matInput placeholder="Ex. 100.00" [(ngModel)]="user.motherLastName"> -->
                                <input matInput placeholder="Ex. 100">
                             </mat-form-field>
                          </td>
                          <td>
                             <mat-form-field class="example-full-width">
                                <mat-label>Change</mat-label>
                                <!-- <input matInput placeholder="Ex. 100.00" [(ngModel)]="user.motherLastName"> -->
                                <input matInput placeholder="Ex. 0.0">
                             </mat-form-field>
                          </td>
                       </tr>
                    </thead>
                 </table>
              </mat-card-content>
              <mat-card-actions>
                 <!-- <button mat-stroked-button (click)="toggleReadOnly()" [hidden]="!showUpdateButton">UPDATE DATA</button>
                    <button mat-stroked-button (click)="toggleCancel()" [hidden]="!showConfirmButton">CANCEL</button> -->
              </mat-card-actions>
           </mat-card>
        </div>
     </div>
  </div>
</div>