<div class="container-fluid container-third">
  <div class="row">
       <h1 class="title-third">SERVICIOS</h1>
  </div>
  <div class="row">
      <div class="col-md-8">
           <mat-card appearance="outlined" class="mat-card-third">
                <mat-card-title class="mat-card-third-title">Corte de cabello</mat-card-title>
                <mat-card-content>- Lavado - Asesoramiento - Corte - Peinado - Aplicaciòn de producto</mat-card-content>
                
                <mat-card-actions class="mat-card-actions">
                    <button mat-button style="color: white;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Ver màs</button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </mat-card-actions>
           </mat-card>
      </div>
      <div class="col-md-4"></div>
  </div>
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
           <mat-card appearance="outlined" class="mat-card-third">
               <mat-card-title class="mat-card-third-title">Base o permanente</mat-card-title>
               <mat-card-content>- Este tratamiento quimico es una forma perfecta de añadir textura y volumen a tu estilo</mat-card-content>
               <mat-card-actions class="mat-card-actions"><button mat-button style="color: white;">Ver màs</button></mat-card-actions>
           </mat-card>
      </div>
      <div class="col-md-2"></div>
  </div>
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
           <mat-card appearance="outlined" class="mat-card-third">
               <mat-card-title class="mat-card-third-title">Mechas / Color/ Decoloraciòn</mat-card-title>
               <mat-card-content>- La colorimetria es el arte de saber mezclar colores deacuerdo a las necesidades</mat-card-content>
               <mat-card-actions class="mat-card-actions"><button mat-button style="color: white;">Ver màs</button></mat-card-actions>
           </mat-card>
      </div>
  </div>
</div>
