<div class="maincontainer">
  <h1 class="title">GALERIA</h1>
  <div class="carousel">
    <div class="carousel-track" #carouselTrack>
      <img src="../../../../assets/Images/imagen1.jpg" alt="Imagen 1">
      <img src="../../../../assets/Images/imagen2.jpg" alt="Imagen 2">
      <img src="../../../../assets/Images/imagen3.jpg" alt="Imagen 3">
      <img src="../../../../assets/Images/imagen4.jpg" alt="Imagen 4">
      <img src="../../../../assets/Images/imagen5.jpg" alt="Imagen 5">
      <img src="../../../../assets/Images/imagen6.jpg" alt="Imagen 6">
      <!-- Duplicar imágenes para efecto continuo -->
      <img src="../../../../assets/Images/imagen1.jpg" alt="Imagen 1">
      <img src="../../../../assets/Images/imagen2.jpg" alt="Imagen 2">
      <img src="../../../../assets/Images/imagen3.jpg" alt="Imagen 3">
      <img src="../../../../assets/Images/imagen4.jpg" alt="Imagen 4">
      <img src="../../../../assets/Images/imagen5.jpg" alt="Imagen 5">
      <img src="../../../../assets/Images/imagen6.jpg" alt="Imagen 6">
    </div>
  </div>  
</div>
