<h2 mat-dialog-title>ADD NEW USER</h2>
<div class=".container-lg	">
  <div class="row">
    <div class="col-6">
      <mat-dialog-content>
        <p>DATA BASIC</p>
        <mat-form-field>
          <mat-label>LASTNAME</mat-label>
          <input matInput [(ngModel)]="user.lastName"/>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>MOTHER LASTNAME</mat-label>
          <input matInput [(ngModel)]="user.motherLastName"/>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>NAMES</mat-label>
          <input matInput [(ngModel)]="user.names"/>
        </mat-form-field>
        <br>  
      </mat-dialog-content>
    </div>
    <div class="col-6">
      <mat-dialog-content>
        <p>DATA ADMINISTRATIVE</p>
        <mat-form-field>
          <mat-label>selected Perfil</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="perfil">
            <mat-option></mat-option>
            @for (perfil of perfils; track perfil) {
              <mat-option [value]="perfil.id">{{perfil.perfil}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-content>
        <p>DATA LOGIN</p>
        <mat-form-field>
          <mat-label>USER LOGIN</mat-label>
          <input matInput [(ngModel)]="login.userName" />
        </mat-form-field>        
      </mat-dialog-content>      
    </div>
  </div>  
</div>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">CANCEL</button>
  <button mat-button (click)="ClickOk()">Ok</button>
</mat-dialog-actions>
