<div class="container-fluid">
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="registerForm" class="sign-in-form">
        <h2 class="title">Iniciar Sesiòn</h2>
        <div class="input-field">
          <!-- <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" /> -->

          <mat-form-field appearance="outline" class="full-width">
            <mat-label> Usuario </mat-label>
            <input matInput formControlName="user" [(ngModel)]="_modelLogin.userName">
            <!-- <mat-error *ngIf="registerForm.controls.user.hasError('required')" >El campo es obligatorio</mat-error> -->
          </mat-form-field>
        </div>
        <div class="input-field">
          <!-- <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" /> -->

          <mat-form-field appearance="outline" class="full-width">
            <mat-label> Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="_modelLogin.passwordName">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- <mat-error *ngIf="registerForm.controls.password.hasError('required')"> El campo es obligatorio</mat-error> -->
          </mat-form-field>
        </div>
        <!-- <input type="submit" value="Login" class="btn solid" /> -->
        <button mat-flat-button color="primary" [disabled]="!registerForm.valid" (click)="submitLogin(_modelLogin)" class="mat-button-login">
          <mat-icon>verified_user</mat-icon>
          Ingresar
        </button>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
      </div>
      <!-- <img src="../../../../assets/Images/log.svg" class="image" alt="" /> -->
    </div>
    <div class="panel right-panel">
    </div>
  </div>
</div>
