<div class="container-fluid container-second">
  <div class="row">
    <div class="col-md-6 order-md-2 full-screen-img">
      <img src="../../../../assets/Images/IMG_3041_2.jpeg" alt="" class="img-seconds">
    </div>
    <div class="col-md-6 order-md-1 d-flex flex-column justify-content-center align-items-center">
      <div class="container-title-seconds">
        <h1 class="title-seconds">
          QUE HAY <br> DETRAS DE <br> LAS TIJERAS
        </h1>
      </div>
      <div class="container-content-seconds">
        <mat-card appearance="outlined" class="mat-card-seconds">
          <mat-card-content>
            Since 2018: expertos enfocados en el cuidado estético masculino, si solo estás buscando un corte, estás en el lugar equivocado, no vendemos cortes de cabello, vendemos una solución, confianza, seguridad y calidad acompañados de una experiencia.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
