<div id="carouselExampleControls" class="carousel slide h-75" data-bs-ride="carousel">
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100 img-main-one">
        <!-- <img src="../../../../assets/Images/97512488-6f3f-4f00-a3b5-0a628723db16.JPG" class="d-block w-100 img-layer" alt="..."> -->
      </div>
      <!-- <div class="carousel-item h-100">
        <img src="../../../../assets/Images/f1632814-9f82-47ad-991c-bbd6c330aa73.JPG" class="d-block w-100 img-layer" alt="...">
      </div>
      <div class="carousel-item h-100">
        <img src="../../../../assets/Images/97512488-6f3f-4f00-a3b5-0a628723db16.JPG" class="d-block w-100 img-layer" alt="...">
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                TEXTO ANUNCIO
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="../../../../assets/Images/fondoPerfilUrbano.png" class="card-img-top" alt="...">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                INTEGRADO
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img src="../../../../assets/Images/fondoPerfilUrbano.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                ARTISTAS
            </div>
        </div>
    </div>
</div>