<!-- COMPONENT CAROUSEL -->
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <img src="../../../../assets/Images/97512488-6f3f-4f00-a3b5-0a628723db16.JPG" class="d-block w-100 img-layer" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img src="../../../../assets/Images/f1632814-9f82-47ad-991c-bbd6c330aa73.JPG" class="d-block w-100 img-layer" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img src="../../../../assets/Images/97512488-6f3f-4f00-a3b5-0a628723db16.JPG" class="d-block w-100 img-layer" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- COMPONENT  HISTORY -->
<section class="container-second">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-0">
                <h2>QUE HAY DETRAS DE LAS TIJERAS</h2>
                <mat-card appearance="outlined">
                    <mat-card-content>Since 2018: expertos enfocados en el cuidado estetico masculino, si solo estas buscando un corte, estas en el lugar equivocado, no vendemos cortes de cabello vendemos una solucion, confianza, seguridad y calidad acompañados de una experiencia.</mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6 p-0">
                <img src="../../../../assets/Images/IMG_9620.JPG" alt="" class="img-seconds">
            </div>
        </div>
    </div>
</section>
<!-- COMPONENT SERVICE  -->
<section class="container-third">
    <div class="container">
        <div class="row">
             <h2>SERVICIOS</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                 <mat-card appearance="outlined">
                      <mat-card-title>Corte de cabello</mat-card-title>
                      <mat-card-content>- Lavado - Asesoramiento - Corte - Peinado - Aplicaciòn de producto</mat-card-content>
                 </mat-card>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                 <mat-card appearance="outlined">
                     <mat-card-title>Base o permanente</mat-card-title>
                     <mat-card-content>- Este tratamiento quimico es una forma perfecta de añadir textura y volumen a tu estilo</mat-card-content>
                 </mat-card>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                 <mat-card appearance="outlined">
                     <mat-card-title>Mechas / Color/ Decoloraciòn</mat-card-title>
                     <mat-card-content>- La colorimetria es el arte de saber mezclar colores deacuerdo a las necesidades</mat-card-content>
                 </mat-card>
            </div>
        </div>
     </div>
</section> 
<!--  COMPONENT ARTIST -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>ARTISTAS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="img-third">
                <img src="../../../../assets/Images/PNG-lim-urb.2.png" alt="" class="img-third-img">
            </div>
        </div>
        <div class="col-md-6">
            <mat-card appearance="outlined">
                <mat-card-content>Since 2018: expertos enfocados en el cuidado estetico masculino, si solo estas buscando un corte, estas en el lugar equivocado, no vendemos cortes de cabello vendemos una solucion, confianza, seguridad y calidad acompañados de una experiencia.</mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<!-- COMPONENT GALERY -->
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <img src="../../../../assets/Images/97512488-6f3f-4f00-a3b5-0a628723db16.JPG" class="d-block w-100 img-layer" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img src="../../../../assets/Images/f1632814-9f82-47ad-991c-bbd6c330aa73.JPG" class="d-block w-100 img-layer" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img src="../../../../assets/Images/97512488-6f3f-4f00-a3b5-0a628723db16.JPG" class="d-block w-100 img-layer" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>