<!-- COMPONENT CAROUSEL -->
<app-carousel-main></app-carousel-main>
<!-- COMPONENT  HISTORY -->
<app-information-main></app-information-main>
<!-- COMPONENT SERVICE  -->
<app-services-main></app-services-main>
<!-- COMPONENT GALERY -->
 <app-carousel-minimal-main></app-carousel-minimal-main>
<!--  COMPONENT ARTIST -->
<app-artists-main></app-artists-main>
<!-- DIVIDER COMPONENT FOOTER -->
 <!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div> -->
