.img-layer {
    background-size: cover;
    background-repeat: no-repeat;
}
.img-main-one{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../assets/Images/97512488-6f3f-4f00-a3b5-0a628723db16.JPG');
}