
<div class="container-fluid p-0">
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner h-100">

      <div class="carousel-item active h-100">
        <div class="container-fluid container-second">
          <div class="row ">
            <div class="col-md-6 full-screen-img">
              <img src="../../../../assets/Images/IMG_3050_2.jpeg" alt="" class="img-seconds">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
              <div class="container-title-seconds">
                <h1 class="title-seconds">
                  QUE HAY <br> DETRAS DE <br> LAS TIJERAS 1
                </h1>
              </div>
              <div class="container-content-seconds">
                <mat-card appearance="outlined" class="mat-card-seconds">
                  <mat-card-content>
                    Since 2018: expertos enfocados en el cuidado estetico masculino, si solo estas buscando un corte, estas en el lugar equivocado, no vendemos cortes de cabello vendemos una solucion, confianza, seguridad y calidad acompañados de una experiencia.
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item h-100">
        <div class="container-fluid container-second">
          <div class="row ">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
              <div class="container-title-seconds">
                <h1 class="title-seconds">
                  QUE HAY <br> DETRAS DE <br> LAS TIJERAS 2
                </h1>
              </div>
              <div class="container-content-seconds">
                <mat-card appearance="outlined" class="mat-card-seconds">
                  <mat-card-content>
                    Since 2018: expertos enfocados en el cuidado estetico masculino, si solo estas buscando un corte, estas en el lugar equivocado, no vendemos cortes de cabello vendemos una solucion, confianza, seguridad y calidad acompañados de una experiencia.
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="col-md-6 full-screen-img">
              <img src="../../../../assets/Images/IMG_3049_2.jpeg" alt="" class="img-seconds">
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item h-100">
        <div class="container-fluid container-second">
          <div class="row ">
            <div class="col-md-6 full-screen-img">
              <img src="../../../../assets/Images/IMG_3047_2.jpeg" alt="" class="img-seconds">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
              <div class="container-title-seconds">
                <h1 class="title-seconds">
                  QUE HAY <br> DETRAS DE <br> LAS TIJERAS 3
                </h1>
              </div>
              <div class="container-content-seconds">
                <mat-card appearance="outlined" class="mat-card-seconds">
                  <mat-card-content>
                    Since 2018: expertos enfocados en el cuidado estetico masculino, si solo estas buscando un corte, estas en el lugar equivocado, no vendemos cortes de cabello vendemos una solucion, confianza, seguridad y calidad acompañados de una experiencia.
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
