.container-room{
  background-image: url('../../../../../assets/Images/fondo_dinamico_estrella.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.title-room{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin-top: 50px;
}
.mat-card-room{
  background: border-box;
  border-radius: 30px;
  font-weight: 400;
  font-size: 25px;
  text-align: justify;
  box-shadow: 1px 1px 5px 2px #0000001f;
  color: black;
}
.container-content-room{
  padding: 20px;
}
.mat-card-actions{
  background: border-box;
  border-radius: 30px;
  margin: 20px 0;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: justify;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.12);
}
.img-third{
  align-items: center;
  text-align: center;
}
.img-third-img{
  border: 1px solid black;
  border-radius: 50%;
}
.full-screen {
  // width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.content-mat-card{
  align-items: center;
  display: flex;
}
.full-screen-img {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}
.img-third-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container-divider-class{
  // transform: rotate(180deg) translateX(50%);
}
.container-divider-class svg{
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100% !important;
  height: 100px !important;
}



// container - carousel - imagen
.carousel,
.carousel-inner,
.carousel-item,
.carousel-item
.img-layer {
  height: 100vh;
}
.carousel-item
.img-layer {
  object-fit: cover;
}
.overlay-image {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 350px !important;
  filter: drop-shadow(5px 10px 3px rgb(191, 191, 191));
}


//container - imagen  - descripcion
.container-second{
  background-image: url('../../../../../assets/Images/fondo_dinamico_estrella.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container-title-seconds {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin-top: 50px;
}
.title-seconds {
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 5vw;
  line-height: 1.2;
  margin: 0;
}
.container-content-seconds{
  padding: 20px;
}
.mat-card-seconds{
  background: border-box;
  border-radius: 30px;
  margin: 20px 0;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: justify;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.12);
}
.full-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.full-screen-img {
  height: 100vh;
  padding: 0px !important;
}
.img-seconds {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
