<section class="container-room">
  <div class="container">
      <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
              <h1 class="title-room">ARTISTAS</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="img-third">
                  <img src="../../../../assets/Images/PNG-lim-urb.2.png" alt="" class="img-third-img">
              </div>
          </div>
          <div class="col-md-6">
              <div class="container-content-room">
                  <mat-card appearance="outlined" class="mat-card-room">
                      <mat-card-content>Since 2018: expertos enfocados en el cuidado estetico masculino, si solo estas buscando un corte, estas en el lugar equivocado, no vendemos cortes de cabello vendemos una solucion, confianza, seguridad y calidad acompañados de una experiencia.</mat-card-content>
                  </mat-card>
              </div>
          </div>
      </div>
  </div>
</section>
