#root{
    width: 100%;
}
html, body {
  height: 100%;
  padding: 0;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Matemasie", sans-serif,
  // "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
// ::-webkit-scrollbar-thumb:hover {
//   background: white;
//   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
// }
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 4px;
}
// ::-webkit-scrollbar-track:hover,
// ::-webkit-scrollbar-track:active {
//   background: #d4d4d4;
// }
.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}